body {
    background-color: rgb(181, 246, 255);
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box
}

nav {
    background-color: darkcyan;
    padding: 9px;
    position: fixed;
    width: 100%;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1em;
    color: aliceblue;
    
}

header {
    padding-top: 38px;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/04/5b/8a/26/universal-citywalk.jpg");
    background-size: cover;
    background-position: bottom;
     }

.slide {
         height: 75vh;
         background-color:lavender;
         border: 1px solid #ffffff;
         margin: 10px;
         align-content: center;
         justify-content: center;
         display: flex;
         
          
     }



div h1 {
    color: rgb(0, 132, 255);
    font-size: 2em;
}

#about {
    background-color: lavender;
}


#my-profile-pic {
    background-image: url("/Users/lavinialiverani/Documents/ucla coding/day5/IMG_8943.jpeg");
    height: 600px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 300px; 
}
    

    


#my-profile-details {
    height: 100%;
    width: 40%;
}

header h1 {
    color: white;
    font-family: 'Rubik Mono One', sans-serif;
}


h2 {
    background-color: rgb(76, 15, 156)
}

.post-wrapper {
    /* width: 100%; */
    margin-top: 4px;
    background-color: #f8f6fa;
    border: 2px dotted #7c0aee;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    


    
}


#blog {
    flex-direction: row; /* or you can use column*/
}

.date {
    float: right;
    font-style: italic;
    font-weight: 400;
    
    
}

div ul {
    list-style-type: square;
}

div h3 { 
    align-content: flex-start;
 
}



/*html scroll behavior smooth*/